main {
    padding-left: 22.5%;
    padding-right: 22.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(232, 232, 236);
}
h1, h2, h3, p, h4, h5, span {
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}
li {
    margin-bottom: 2px;
}
ul {
    word-spacing: 1.5px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin:-bottom 16px;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 9px;
    margin-top: 3px;
}
h3 {
    font-size: 1.3rem;
    margin-bottom: 7px;
    margin-top: 2px;
}
p, li, a {
    font-size: 1rem;
}
main h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 11px;
}
h5 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500; 
}
span {
    color: #f57a1b;
}
@media (max-width: 1250px) {
    main {
        padding-left: 12.5%;
        padding-right: 12.5%;
    } 
}
@media (max-width: 1080px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    } 
    h1, h2, h3, p, h4, h5, span {
        word-spacing: 2px;
    }
    ul {
        word-spacing: 1px;
    }
}
@media (max-width: 720px) {
    main {
        padding-left: 2.5%;
        padding-right: 2.5%;
    } 
}
ul {
    list-style-type: disc;
    padding-left: 2ch
}