footer {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    background-color: #B43F3F;
    color: #ebebeb;
    align-items: start;
}
#footer-2 a{
    color: #ff994b;
    text-decoration: underline;
}
footer div {
    display: flex;
    flex-direction: column;
}
footer h4{
    font-size: 1.2rem;
    margin-bottom: 6px;
}
footer a, p {
    margin-top: 6px;
    margin-bottom: 2px;
}
@media (max-width: 720px) {
    footer {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    footer h4 {
        font-size: 1.2rem;
        margin-bottom: 1px;
    }
    footer a, p {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size:1.1rem;
    }
}