nav {
    display: flex;
    padding: 2.5%;
    justify-content: space-between;
    background-color: #e76a0b;
    color: rgb(235, 235, 235);
    font-size: 1.2rem
}
.nav-link {
    color: rgb(235, 235, 235);
    margin-left: 1rem;
    letter-spacing: 1px;
}
#page-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 4px;
}
@media (max-width: 720px) {
    #nav-title {
        font-size: 75%
    }
    nav {
        justify-content: start;
    }
}