main {
    padding-left: 22.5%;
    padding-right: 22.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(232, 232, 236);
}
h1, h2, h3, p, h4, h5, span {
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin:-bottom 15px;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 2px;
}
h3 {
    font-size: 1.3rem;
    margin-bottom: 6px;
    margin-top: 1.5px;
}
p {
    font-size: 1rem;
}
main h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
h5 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500; 
}
span {
    color: #f57a1b;
}
@media (max-width: 1080px) {
    main {
        padding-left: 12.5%;
        padding-right: 12.5%;
    } 
}
@media (max-width: 720px) {
    main {
        padding-left: 2.5%;
        padding-right: 2.5%;
    } 
}