#hero {
    background-color: #F8EDED;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero h1, p{
    margin-bottom: 25px;
}
#hero h1 {
    font-size: 2rem
}
#hero p {
    font-size: 1.2rem
}
