#portfolio {
    padding: 1%;
}
#portfolio-grid {
    padding: 1%;
    padding-bottom: 12%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 2%;
}

#portfolio-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}